.next{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-left: 15px solid;
    padding-left: 10%;
}

.prev{
    width: 0;
    height: 0;
    border-top: 15px solid transparent;
    border-bottom: 15px solid transparent;
    border-right:15px solid;
    padding-right: 10%;

}

.slideshow_container{
    width: 100%;
    overflow:hidden;
}

.slideshow{
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;
    position: relative;
    overflow: hidden;
    float: left;
    padding: 3px;
}

.slideshow img{
    display: none;
    width: 80%;
    height: 80%;
}
.slideshow img.active{
    /*display: block;*/
}

.prev, .next{
    cursor: pointer;
}

.nav{
    display: flex;
    justify-content: space-evenly;
}

